<!DOCTYPE html>
<html>
<head>
    <title>Poker Baker</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js'></script>
    <script src='https://unpkg.com/mithril/mithril.js'></script>
    <script type='module' src={{ url_for('static', filename='js/table/index.js') }}></script>
    <link href={{ url_for('static', filename='css/output.css') }} rel='stylesheet'></link>
</head>
<body></body>
</html>
