@tailwind base;
@tailwind components;
@tailwind utilities;

.lobby-item {
    @apply grid grid-cols-4 items-center px-6 py-4;
}

button {
    @apply items-center justify-center rounded-lg;
}

.btn-primary {
    @apply transition-colors text-white bg-blue-500 hover:bg-blue-600;
}

.btn-nice {
    @apply transition-colors text-white bg-green-500 hover:bg-green-600;
}

.medium {
    @apply px-6 py-3 font-medium;
}

.small {
    @apply px-2 py-1 text-sm;
}

.player-area {
    z-index: 2;
    @apply center-x text-center
}

.poker-table {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    @apply rounded-full text-white p-8 relative h-64 bg-green-800;
}

.player-card {
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    @apply w-8 h-12 rounded;
}


.community-card {
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    @apply w-8 h-12 rounded;
}


.folded {
    opacity: 0.5;
    filter: grayscale(1);
}

.pot {
    @apply player-area absolute top-1/2;
}

.bet-placed {
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    @apply font-bold text-center absolute;
}

.bet-placed-villain {
    top: 36px;
    @apply bet-placed;
}

.bet-placed-hero {
    bottom: 36px; 
    @apply bet-placed;
}

.board {
    @apply player-area absolute top-1/2;
}

.board1 {
    /* @apply border absolute center-x player-area text-white text-center top-1/2; */
    @apply flex justify-center space-x-2 absolute center-x center-y; 
}

.acting {
    @apply border-poker-gold rounded-xl border-2;
}

.winning {
    @apply border-e-teal-500 rounded-xl border-2;
}


.all-in {
    @apply border-red-500 rounded-xl border-2;
}

.dealer-button {
    top: 20%;
    left: 40%;
    z-index: 2;
    @apply bg-yellow-600 rounded-full w-6 h-6 text-center absolute;
}

.center-x {
    @apply left-1/2 transform -translate-x-1/2;
}


.center-y {
    @apply top-1/2 transform -translate-y-1/2;
}


/* Actions */
.btn {
    @apply text-white px-6 py-2 transition rounded-xl;
}

.btn-fold {
    @apply btn bg-red-500 hover:bg-red-600;
}

.btn-check {
    @apply btn bg-blue-500 hover:bg-blue-600;
}

.btn-call {
    @apply btn bg-yellow-500 hover:bg-yellow-600;
}

.btn-bet {
    @apply btn bg-green-500 hover:bg-green-600;
}

.btn-raise {
    @apply btn bg-orange-500 hover:bg-orange-600;
}

.btn-start {
    @apply btn bg-blue-500 hover:bg-blue-600;
}

/* Disabled state */
.disabled {
    @apply opacity-50 cursor-not-allowed;
}
