@tailwind base;
@tailwind components;
@tailwind utilities;

.center-x {
    @apply left-1/2 transform -translate-x-1/2;
}
.center-y {
    @apply top-1/2 transform -translate-y-1/2;
}

button {
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Montserrat', sans-serif;
    @apply bg-gray-100;
}

.btn-primary {
    @apply transition-colors text-white bg-gray-700 hover:bg-gray-800;
}
.btn-secondary {
    @apply transition-colors text-white bg-orange-500 hover:bg-orange-600;
}
.btn-nice {
    @apply transition-colors text-white bg-green-500 hover:bg-green-600;
}
.medium {
    @apply px-6 py-3 font-medium;
}
.small {
    @apply px-2 py-1 text-sm;
}
.disabled {
    @apply opacity-50 cursor-not-allowed;
}

/* Poker table */
.lobby-item {
    @apply grid grid-cols-4 items-center px-6 py-4;
}

.player-items {
    background-color: rgba(74, 85, 104, 0.8);
    border-radius: 0.75rem;
    padding: 0.75rem;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}


.player-area {
    z-index: 2;
    @apply flex absolute justify-center items-center;
}


#actions {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
.sizing-option {
    flex: 1;
    text-align: center;
    padding: 0.5rem 0;
    font-weight: 500;
    color: #4a5568;
    border-right: 1px solid rgba(74, 85, 104, 0.3);
    transition: background-color 0.2s;
}
.sizing-option:last-child {
    border-right: none;
}
.sizing-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.player-position {
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    top: -12px;
    font-size: 0.75rem;

    @apply flex absolute center-x w-8 h-8 rounded-full font-bold justify-center text-gray-800;
}

.player-name {
    font-weight: 600;
    @apply text-2xl mt-2;
}
.player-stack {
    @apply text-2xl;
}
.player-profit {
    font-weight: 500;
    @apply text-xl;
}
.cards-container {
    @apply flex mt-2;
}

.poker-table {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 1000px;
    height: 500px;

    align-items: center;

    @apply flex justify-center rounded-full p-8 relative bg-gray-800;
}
.player-card {
    @apply flex items-center text-xl justify-center w-24 h-36 mx-1 rounded-lg bg-white shadow-lg;
}
.community-card {
    @apply w-24 h-36 rounded bg-white shadow-lg;
}
.folded {
    opacity: 0.5;
    filter: grayscale(1);
}
#pot-display {
    bottom: 20px;

    @apply player-area top-1/2 center-x text-white absolute text-center text-3xl;
}
.bet-placed {
    bottom: -18px;

    @apply center-x absolute text-xl;
}
.board {
    @apply flex justify-center space-x-2 absolute center-x center-y; 
}
.acting {
    @apply border-yellow-500 rounded-xl border-4;
}
.winning {
    @apply border-teal-500 rounded-xl border-4;
}
.all-in {
    @apply border-red-500 rounded-xl border-4;
}

/* Actions */
#bet-amount {
    @apply w-36 px-4 py-2 border rounded-xl;
}
#btn-fold {
    background-color: #f56565;
    color: white;
}
#btn-fold:hover {
    background-color: #e53e3e;
}
#btn-check {
    background-color: #4a5568;
    color: white;
}
#btn-check:hover {
    background-color: #2d3748;
}
#btn-call {
    background-color: #d4af37;;
}
#btn-call:hover {
    background-color: #b08c1a;
}
#btn-bet, #btn-raise {
    background-color: #48bb78;
    color: white;
}
#btn-bet:hover, #btn-raise:hover {
    background-color: #38a169;
}

/* Modals */
#create-modal {
    @apply fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-10;
}
#game-submit {
    @apply w-full bg-gray-800 text-white py-2 rounded-lg;
}
#username-modal {
    @apply fixed text-lg inset-0 bg-black bg-opacity-30 flex items-center justify-center z-10;
}
#username-submit {
    @apply w-full bg-gray-800 text-white py-2 rounded-lg;
}
#modal-block {
    @apply bg-white p-6 rounded-lg shadow-lg max-w-md w-full border border-gray-100;
}
#modal-hint {
    @apply text-3xl font-light mb-4 text-gray-800;
}
#range-modal {
    @apply fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-10 text-lg;
}
#range-grid {
    grid-template-columns: repeat(13, 1fr);
    @apply grid;
}
.range-cell {
    @apply text-center select-none sm:w-12 sm:h-12 flex items-center justify-center w-12 h-12;
}
#range-block {
    @apply bg-white p-6 rounded-lg shadow-lg max-w-2xl border border-gray-100;
}
#range-hint {
    @apply text-3xl font-light mb-4 text-gray-800;
}
#range-submit {
    @apply w-full bg-gray-800 text-white py-2 mt-2 rounded-lg;
}
